.tarjeta-paciente {
      background: #222;
      border: 1px solid #444;
      padding: 15px;
      border-radius: 8px;
    }
.barra-contenedor {
      height: 10px;
      background: #000;
      margin: 10px 0;
      border-radius: 5px;
      overflow: hidden;
    }

    .barra-progreso {
      height: 100%;
      transition: width 0.3s;
    }